<template>
    <div class="submission-list">
        <div class="card" v-for="category in categories" :key="category.id">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-10"><a href="/submissions/category/slug" ><h4 class="card-title">{{category.name}}</h4> </a></div>
                </div>

                <div class="row">
                    <div class="col-md3">

                    </div>

                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-md4" style="padding: 10px">Submitted : Not Implemented</div>
                    <div class="col-md4" style="padding: 10px">Validated : Not Implemented</div>
                    <div class="col-md4" style="padding: 10px">Submissiondate : Not Implemented</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        /* todo add links to submission page */
        name: "student-submissionlist",
        created() {
            this.getCategories();
        },
        data() {
            return {
                categories: []
            }
        },
        methods: {
            getCategories: function () {
                axios.get('/api/categories/').then(response => {
                    this.categories = response.data;
                });
            }
        },
    }
</script>

<style scoped>

</style>