
<template>
    <table v-if="this.Submission" class="table">
        <tr>
            <th>{{this.Submission.category.name}}</th>
            <th></th>
        </tr>
        <tr v-bind:class="{ 'table-success' : Submission.validated }">
            <td>Validated</td>
            <td>{{this.Submission.validated}}</td>
        </tr>
        <tr>
            <td>Teacher Comment</td>
            <td>{{this.Submission.comment}}</td>
        </tr>
        <tr>
            <td>Submissiondate</td>
            <td>{{this.Submission.created_at.date}}</td>
        </tr>
    </table>
</template>
<script>
    /* TODO Get Ordered Submission */
    export default {
        name: "SubmissionDetails",
        created() {
            this.getSubmission();
        },
        data() {
            return {
                Submission: undefined,
                slug : 1
            }
        },
        methods: {
            getSubmission: function () {
                axios.get('/api/submissions/' + this.slug).then(response => {
                    this.Submission = response.data.data;
                });
            }
        },
    }
</script>

<style scoped>

</style>