<template>
    <div class="submission-list">
        <div class="card" v-for="submission in submissions" :key="submission.id">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-10"><h4 class="card-title">{{submission.category.name}}</h4></div>
                    <div class="col-md-2"><h4><i class="icon-profile-male"></i> {{submission.user.name}}</h4></div>
                </div>

                <div class="row">
                    <div class="col-md3">

                    </div>
                    <div class="col-md6">
                        <a href="#" class="btn btn-primary">Download</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "submission-list",
        created() {
            this.getSubmissions();
        },
        data() {
            return {
                submissions: []
            }
        },
        methods: {
            getSubmissions: function () {
                axios.get('/api/submissions/').then(response => {
                    this.submissions = response.data.data;
                });
            }
        }
    }
</script>

<style scoped>

</style>