<template>
    <div>
        <table v-for="Submission in submissions " class="table">
            <tr>
                <th>{{Submission.category.name}}</th>
                <th></th>
            </tr>
            <tr v-bind:class="{ 'table-success' : Submission.validated }">
                <td>Validated</td>
                <td>{{Submission.validated}}</td>
            </tr>
            <tr>
                <td>Teacher Comment</td>
                <td>{{Submission.comment}}</td>
            </tr>
            <tr>
                <td>Submissiondate</td>
                <td>{{Submission.created_at.date}}</td>
            </tr>
        </table>
    </div>
</template>

<script>
    /* Todo integrate SubmissionDetails in here */
    export default {
        name: "SubmissionHistory",
        created() {
            this.getCategories();
        },
        data() {
            return {
                submissions: [],
                slug: 3
            }
        },
        methods: {
            getCategories: function () {
                axios.get('/api/submissions/category/' + this.slug).then(response => {
                    this.submissions = response.data.data;
                    console.log(this.submissions)
                });
            }
        },
    }
</script>

<style scoped>

</style>