<template>

</template>

<script>
    export default {
        name: "UploadPanel",
        created() {
        },
        data() {
            return {
                submissions: []
            }
        },
        methods: {
            getSubmissions: function () {
                axios.get('/api/submissions/').then(response => {
                    this.submissions = response.data.data;
                });
            }
        }
    }
</script>

<style scoped>

</style>